.img1 {
  
	float: right;
  
	width: 250px;

	height: 250px;
  
	display: block;
  
	margin: 0 10px;

}



.img2 {
  
	float: left;
  
	width: 250px;
  
	height: 250px;
  
	display: block;
  
	margin: 0 10px;

}



.img3 {
  
	width: 250px;
  
	height: 250px;
  
	display: block;
  
	margin-left: auto;
  
	margin-right: auto

}



.img4 {
  
	float: right;
  
	width: 200px;
  
	height: 280px;
  
	display: block;
  
	margin: 0 10px;

}

@media screen and (max-width:600px) {
  .img1 {
  
	width: 250px;
  
	height: 250px;
  
	display: block;
  
	margin-left: auto;
  
	margin-right: auto

}
}