img {
  
	float: right;
  
	width: 250px;

	height: 250px;
  
	display: block;
  
	margin: 0 10px;

}




@media screen and (max-width:600px) {
  img {
  
	float: none;
 
	width: 150px;
  
	height: 150px;
  
	display: block;
  
	margin-left: auto;
  
	margin-right: auto

	}
}